.logo {
    font-family: 'Circular Std',sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 160%;
    /* or 48px */

    letter-spacing: -0.02em;

    color: #0A1B32;
    margin-top: 37px;
    margin-left: 80px;
} 

.logo-dot {
    color: #4F56F1;
}

section {
    display:inline-block;
}

.main-title {
    max-width:495px;
    width:100%;
    font-family: 'Ramaraja',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 76px;
    /* or 106% */
    letter-spacing: 0.02em;
    color: #1B0A42;
    margin-top:203.09px;
    margin-left:200px;
}

.main-info {
    max-width:538.08px;
    width:100%;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */
    letter-spacing: 0.02em;
    color: #9A9A9A;
    margin-top:10px;
    margin-left:200px;
    border:none;
}

.main-button {
    width:152px;
    height:63.82px;
    background-color: #4F56F1;
    border-radius: 6px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    /* or 200% */
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-top:50px;
    margin-left:200px;
}
